basicsr==1.4.2
braceexpand==0.1.7
clint==0.5.1
clip==1.0
einops==0.8.1
flash_attn==2.8.3
fsspec==2025.7.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
horovod==0.28.1
huggingface_hub==0.34.4
numpy==2.3.2
omegaconf==2.3.0
pandas==2.3.2
Pillow==11.3.0
pyarrow==21.0.0
pytest==8.4.1
regex==2024.9.11
Requests==2.32.5
setuptools==75.1.0
timm==1.0.19
torch==2.6.0
torchvision==0.21.0
tqdm==4.66.5
transformers==4.56.0
urllib3==2.5.0
webdataset==1.0.2
xformers==0.0.32.post2
